/*
 *= require tasks
 *= require devise/registrations
 *= require devise/sessions
 *= require home
 */

 .header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding: 15px;
}

input[type="submit"] {
  text-decoration: none;
  font-size: 12px;
  border-radius: 30px;
  padding: 15px;
  border: none;
  background-color: #ffffff;
  color: #464646;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.02);
  width: 100px;
}

input[type="submit"]:hover {
  background-color: #ff9f8e;
}

.btn {
  text-decoration: none;
  font-size: 12px;
  border-radius: 30px;
  padding: 15px;
  border: none;
  background-color: #ffffff;
  color: #464646;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.02);
}

.home-btn:hover {
  background-color: #a2e6f5;
}

.about-app-btn:hover {
  background-color: #fff318;
}

@media screen and (max-width: 600px) {
  .btn {
    text-decoration: none;
    font-size: 12px;
  }

  input[type="submit"] {
    font-size: 12px;
  }
  .header {
    gap: 10px;
  }
}