.form-two-column {
  display: flex;
  gap: 44px;
}

.form-column {
  flex: 1;
}

.form-group {
  margin-bottom: 20px;
}

.task-form {
  margin: 0 auto;
  padding: 2rem;
  background: #f9f9f9;
  border-radius: 25px;
}

#color_palette {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.color-swatch {
  position: relative;
  width: 40px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
}

.color-swatch .checkmark {
  display: none;
  position: absolute;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.color-swatch.selected .checkmark {
  display: block;
}

.color-swatch.selected .checkmark {
  color: #fff;
}

.input-form {
  padding: 12px;
  width: 420px;
  height: 20px;
  border-radius: 12px;
  border: 1.5px solid #dedede;
}

.form-textarea {
  width: 100%;
  min-height: 100px;
  padding: 12px;
  border: 1.5px solid #dedede;
  border-radius: 12px;
  resize: vertical;
  box-sizing: border-box;
}

input,
textarea {
  font-size: 14px;
  font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.form-select {
  padding: 8px;
  width: 75px;
  height: 40px;
  border-radius: 8px;
  border: 1.5px solid #dedede;
  font-size: 14px;
}

.category-select {
  padding: 8px;
  width: 180px;
  height: 40px;
  border-radius: 12px;
  border: 1.5px solid #dedede;
  font-size: 14px;
}

.task-form label {
  font-size: 12px;
}


@media screen and (max-width: 600px) {
  .form-two-column {
    display: block;
  }

  .task-form {
    padding: 0.9rem;
  }

  .input-form {
    width: 92%;
  }

  .form-group {
    margin-bottom: 0px;
  }
}
