html, body {
  background-color: #f7f7f7;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.page-layout {
  display: flex;
  height: 100vh;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  gap: 32px;
}

.left-column {
  flex: 0.8;
}

.date-header {
  padding-left: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.today-date {
  font-size: 3rem;
  font-weight: 900;
}

.random-message {
  font-size: 0.8rem;
  font-weight: bold;
}

.scrollable-area {
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
  min-height: 0;
}

.content-wrapper {
  margin-bottom: 1rem;
}

.top-merging {
  margin-top: 1rem;
}

.tooltip-icon {
  position: relative;
  display: inline-block;
}

.tooltip-icon .info-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.tooltip-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  margin-left: 6px;
}

.tooltip-text {
  visibility: hidden;
  width: 230px;
  background-color: #fff;
  text-align: left;
  border-radius: 8px;
  padding: 9px;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 130%;
  transform: translate(0, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 9px;
  pointer-events: none;
}

.tooltip-icon:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.task-list-wrapper {
  padding: 16px;
}

.task-list {
display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
  }

.task-card {
  background: #fff;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 230px;
  height: auto;
}

.task-card:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
  transition: all 0.2s ease;
  cursor: pointer;
}

.new-task-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  background-color: #f7f7f7;
  border: 3px dashed #afafaf;
  min-height: 190px;
  min-width: 250px;
  box-sizing: border-box;
}

.task-card.completed:hover {
  background-color: white;
  transform: translateY(-0px);
}

.new-task-card:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: all 0.2s ease;
  cursor: pointer;
}

.new-task-card .plus-icon {
  font-size: 2rem;
  color: #a3a3a3;
}

.new-task-card .new-task-label {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  color: #a3a3a3;
}

.dropdown {
  position: absolute;
  top: 8px;
  right: 8px;
}

.dropdown-toggle {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.dropdown-menu {
  width: 100px;
  display: none;
  position: absolute;
  right: 0;
  top: 1.5em;
  background-color: #ffce48;
  border-radius: 10px;
  z-index: 100;
}

.dropdown-menu[hidden] {
  display: none;
}

.dropdown-menu:not([hidden]) {
  display: block;
}

.dropdown-item {
  font-size: 0.8rem;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #fff4d6;
}

.task-card .progress-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.task-card .progress-circle .fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip: rect(0, 100%, 100%, 50%);
}

.task-card .icon {
  width: 60px;
  height: 60px;
  z-index: 3;
}

.task-title {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  max-width: 180px;
}

.task-card .actions {
  margin-top: 10px;
  font-size: 0.8rem;
  text-align: center;
}

.task-card .progress-circle::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  z-index: 2;
}

.completed_tasks_list {
  margin-top: 20px;
}

.right-column {
  display: flex;
  flex-direction: column;
  flex: 1.2;
}

.calender-container {
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
}

.calendar {
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
}

.calendar th, .calendar td {
  font-weight: bold;
  font-size: 0.7rem;
  border-radius: 5px;
  position: relative;
}

.calendar th {
  text-align: center;
}

.calendar td {
  padding: 10px;
  border: 1px solid #dedede;
  width: 14.28%;
  min-width: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.calender td.checked {
  background-color: #f7f7f7;
}

.calendar td .circle-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 5px;
}

.calendar td .task-background {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  z-index: 0;
  display: flex;
  align-items: stretch;
  padding-left: 25px;
}

.calendar td .task-background span {
  display: inline-block;
  height: 100%;
  border-radius: 8px;
  margin-right: 5px;
}

.calendar td .task-background span:last-child {
  margin-right: 0;
}

.calender td .date-number {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}

.graph-container {
  margin-top: 1rem;
  padding: 16px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
}

.task-form .form-group {
  margin-bottom: 1rem;
}

.task-form label {
  font-weight: bold;
}

.task-form .form-control {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1.5px solid #dedede;
  font-size: 1rem;
}

.search-form {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.task-search-input {
  padding: 15px;
  border-radius: 30px;
  border: 2px solid #8e8e8e;
  width: 160px;
  height: 10px;
  font-size: 13px;
}

.search-form-inner {
  display: flex;
  align-items: center;
}

.task-search-button {
  background: none;
  border: none;
  padding: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.all-tasks-btn:hover {
  background-color: #c8fdb8;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.328);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.task-log-modal {
  width: 150px;
  height: auto;
}

#modalTaskList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.task-log-modal::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 65px;
  border-width: 0 8px 7px 8px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.1));
}

.task-log-modal-content {
  background-color: #fff;
  font-size: 11px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.task-log-modal-content ul li {
  margin-bottom: 4px;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 40px;
  width: 1000px;
}

.task-title-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.executed-icon {
  width: 30px;
  height: 30px;
  display: none;
}

.submit-button {
  padding-left: 310px;
}

.form-textarea::placeholder {
  color: #bbbbbb;
  opacity: 1;
}

.input-form::placeholder {
  color: #bbbbbb;
  opacity: 1;
}

.char-count {
  font-size: 10px;
  color: #6b6b6b;
  margin-top: 4px;
  text-align: right;
  font-weight: bold;
}

#new-modal-errors ul,
#edit-modal-errors ul {
  color: #fc6e72;
  margin-top: 10px;
  font-size: 11px;
  list-style: none;
  padding: 0;
  font-weight: bold;
}

.required-mark {
  color: #ff272e;
  font-weight: bold;
}

.input-form.error {
  border: 1px solid #ff272e;
}

.calendar-month-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.calender-cell {
  cursor: pointer;
}

.calender-cell:hover {
  background-color: #dbdbdb4c;
}

.completed-tasks-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.completed-tasks-header h4 {
  margin: 0;
}

.back-button {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close-modal {
  background: transparent;
  border: none;
  cursor: pointer;
}

.chat-container {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;   
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
}

.chat-container-link {
  color: inherit;
}

.chat-container-link:hover {
  text-decoration: none;
}

.chat-container:hover {
  text-decoration: none;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
  transition: all 0.2s ease;
  cursor: pointer;
}

.sub-image {
  width: 50px;
  height: auto;
}

.link-to-chat {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .date-header {
    padding-left: 0px;
  }

  .search-form {
    margin-left: 0px;
  }

  .task-list-wrapper {
    padding: 0px;
  }

  .page-layout {
    display: block;
    height: auto;
    padding: 0 5px 5px 5px;
  }

  .task-search-button {
    width: 60px;
  }

  .all-tasks-btn {
    width: 77px;
  }

  .task-card {
    width: 125px;
  }

  .task-card .progress-circle {
    width: 100px;
    height: 100px;
  }
  .task-card .icon {
    width: 40px;
    height: 40px;
  }

  .date-header {
    display: block;
  }

  .scrollable-area {
    flex: initial;
    overflow-y: visible;
    max-height: none;
    min-height: auto;
  }

  .task-list {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .task-card .progress-circle::before {
    width: 70px;
    height: 70px;
  }

  .task-card .progress-circle {
    margin-bottom: 0rem;
  }

  .new-task-card {
    min-width: 155px;
  }

  .calendar td .task-background {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    padding-left: 5px;
  }

  .calendar td {
    padding: 4px;
    width: 14.28%;
    min-width: 0px;
    border-radius: 8px;
  }

  .calendar {
    border-spacing: 4px;
  }

  .modal {
    overflow-y: auto;
    align-items: flex-start;
    padding-top: 20px;
  }

  .modal-content {
    width: 80%;
  }

  .submit-button {
    padding-left: 0px;
    padding-top: 1rem;
  }

  .completed-tasks-header {
    display: block;
  }

  .content-wrapper {
    margin-bottom: 1rem;
  }

  .calender-container {
    padding: 10px;
  }

  .calendar td .task-background span {
    margin-right: 2px;
  }

  .calendar td .task-background {
    margin-left: 11px;
  }

  .tooltip-text {
    width: 210px;
    font-size: 8px;
  }

  .task-form .form-group {
    margin-bottom: 0rem;
  }

  .add-padding-bottom {
    padding-bottom: 1rem;
  }
}